:host {
  display: block;
  font-family: hero-new, sans-serif;
  color: white;
  width: 375px;
}

.parentDiv {
  height: 812px;
  position: relative;
}

p {
  text-align: center;
}

hr {
  width: 10rem;
}

.container {
  padding-top: 5rem;
  position: relative;
}

#weatherBackground {
  position: absolute;
  width: 375px;
  height: 812px;
  opacity: 0.4;
  object-fit: cover;
  border-radius: 20px;
}

.wrapper {
  width: 12rem;
  background-color: #eb8f90;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 auto;
}

#time {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 1.5rem;
}

#date {
  font-size: 1.5rem;
  margin-bottom: 0;
}

#worldDay {
  margin: 1rem 0 0 0;
}

.scrollKreis {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1.8rem;
  left: 0;
  right: 0;
  background-color: #ffb471;
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  margin: 0 auto;
  animation-name: scrollAnim;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes scrollAnim {
  0% {
    bottom: 1.8rem;
  }
  50% {
    bottom: 4rem;
  }
  100% {
    bottom: 1.8rem;
  }
}

.dreieck {
  width: 0;
  height: 0;
  border-left: 1.2rem solid transparent;
  border-right: 1.2rem solid transparent;
  border-top: 2rem solid #ffffff;

  margin-top: 0.5rem;
}

#weatherIcon {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

#weatherText {
  display: inline-block;
  vertical-align: middle;
}

#weatherText p {
  margin: 0;
  text-align: left;
  vertical-align: middle;
}

#temperature {
  font-size: 1.5rem;
}

#location {
  font-size: 0.8rem;
}
