:host {
  display: block;
  font-family: hero-new, sans-serif;
  background-color: #e5edf8;
  color: white;
  width: 375px;
  height: 812px;
}

p {
  text-align: center;
}

hr {
  width: 10rem;
}

.container {
  padding-top: 5rem;
  position: relative;
}

#weatherBackground {
  position: absolute;
  width: 375px;
  height: 812px;
  opacity: 0.4;
  object-fit: cover;
}

.wrapper {
  width: 12rem;
  background-color: #12406a;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 auto;
}

.button {
  margin: 0 auto;
}

#time {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 1.5rem;
}

#date {
  font-size: 1.5rem;
}

#worldDay {
  margin: 0 1rem 0 1rem;
}

.kreis {
  background-color: #ffb471;
  width: 60px;
  height: 60px;
  border-radius: 100px;
}
