:host {
  display: block;
  width: 375px;
  position: fixed;
  bottom: 0px;
}

h1 {
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  display: inline;
}

.button-hinzu {
  display: inline;
  padding-top: 10px;
  float: right;
  background-color: white;
  color: #eb8f90;
  border: none;
  text-decoration: underline;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.platzhalter {
  color: white;
  padding-bottom: 10px;
}

.backgroundcolor-footer {
  width: 100%;
  margin: -8px -8px -8px -8px;
  padding-top: 1%;
  border-radius: 20px;
  margin: 0 auto;
}

.bg-footer {
  background-color: #12406a;
  width: 375px;

  padding-top: 1%;
  border-radius: 1rem 1rem 0 0;

  position: fixed;
  bottom: 0;
}

#footer {
  text-align: left;
  color: white;
  width: 342px;
  padding-left: 20px;
  padding-top: 20px;
  border-radius: 20px;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.content-footer {
  position: absolute;
  bottom: 10px;
}

.icon-bar {
  display: flex;
  position: relative;
}

.icon-download {
  padding-left: 195px;
  background-color: none;
  color: white;
  font-size: 25px;
}

.icon-upload {
  padding-left: 10px;
  background-color: none;
  color: white;
  font-size: 25px;
}

.icon-instagram {
  padding-left: 13px;
  background-color: none;
  color: white;
  font-size: 25px;
}

.icon-github {
  padding-left: 10px;
  background-color: none;
  color: white;
  font-size: 25px;
}

.icon-moodle {
  padding-left: 10px;
  background-color: none;
  color: white;
  font-size: 25px;
}

.icon-calendar {
  padding-left: 10px;
  background-color: none;
  color: white;
  font-size: 25px;
}
.icon-up {
  background-color: none;
  color: white;
  font-size: 35px;
  text-align: center;
  z-index: -1;
}

.line {
  border-top-color: #bbb;
  width: 97%;
  padding-top: 2px;
  margin-left: 11px;
}

#kategorie {
  text-align: left;
  color: white;
  width: 342px;
  height: 60px;
  padding-left: 20px;
  padding-top: 7px;
  border-radius: 20px;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.box-studium {
  background-color: #adbed2;
  margin-top: 20px;
}

.box-arbeit {
  background-color: #ffb471;
  margin-top: 50px;
}

.box-privat {
  background-color: #eb8f90;
  margin-top: 85px;
  height: 40px !important;
}

.visibleContent {
  height: 200px;
}
.hiddenContent {
  height: 50px;
  visibility: hidden;
}
