:host {
  display: block;
  width: 375px;
  height: 812px;
  background-color: white;
}

h1 {
  font-family: hero-new,sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 17px;
}

#calender-background {
  background-color: #e5edf8;
  width: 100%;
  height: 742px;
  margin: -8px -8px -8px -8px;
  padding-top: 1%;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-family: hero-new,sans-serif;
  font-weight: 100;
}

#calender-material {
  width: 100%;
  margin: 30px 0 0 20px;
}

#calender-display {
  background-color: white;
  margin: -8px -8px -8px -8px;
  padding-top: 1%;
  border-radius: 20px;
}

#trennlinie-d-m {
  width: 85%;
  align-items: center;
  color: #FFB471;
  margin: 0 auto;
}

/*Kopie:*/
.calendar {
  width: 80%;
  font-family: hero-new,sans-serif;
  padding: 1rem;
}

.calendar > * {
  line-height: 3.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-weight: bold;
  font-size: 1.1rem;
}

.calendar span {
  flex-grow: 30;
  width: calc(100% / 7);
  text-align: center;
}

.calendar header span:first-child,
.calendar header span:last-child{
  flex-grow: .1;
  cursor: pointer;
}

.day-names {
  display: flex;
}

.days-in-month {
  display: flex;
  flex-wrap: wrap;
}

.days-in-month span {
  cursor: pointer;
  position: relative;
}

.days-in-month i {
  padding: .8rem;
  font-style: normal;
  position: relative;
  width: 100%;
}

.days-in-month i.padding-single-digit {
  padding: .7rem 1.1rem;
}

.days-in-month span.disabled {
  color: #ccc;
  cursor: default;
}

/** Material style **/
.material .days-in-month span:hover:not(.disabled) i:not(.selected) {
  background: #ffb37191;
  border-radius: 20%;
}

.material .days-in-month i.active {
  border: 1px solid gray;
  background-color: rgba(220, 220, 220, 0.548);
  border-radius: 20%;
  padding: .6rem;
}

.material .days-in-month i.selected {
  background: #FFB471;
  color: #fff;
  border-radius: 20%;
}

.material .days-in-month i.has-event:before {
  content: ' \25CF';
  font-size: .7rem;
  position: absolute;
  top: .4rem;
  left: 1.18rem;
  color: #FFB471;
}

.material .days-in-month i.selected.has-event:before {
  color: #fff;
}

.material .days-in-month i.active.has-event:before {
  top: .1rem;
  left: 1.1rem;
}

.inputKalenderWrapper{
  margin: 25px 0 33px 0;
}

#nameEventField{
  font-family: hero-new, sans-serif;
  border: 1px solid #eb8f90;
  padding: 5px;
  font-size: 10pt;
  margin-right: 5px;
  cursor: auto;
}

#InputButton{
  font-family: hero-new, sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #eb8f90;
  color: white;
  font-size: 10pt;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.scrollField{
  font-family: hero-new, sans-serif;
  margin: 0 0 0 15px;
  text-align: left;
  background: white;
  height: 90px;
  overflow: scroll;
  width: 84%;
  border: solid 3px #ADBED2;
  border-radius: 15px;
  padding: 5px 10px 10px 10px;
  font-size: 10pt;
  cursor: context-menu;
}
ul{
  margin: 0 auto;
  list-style: none;
}